h1 {
    text-align: center;
    text-shadow: 2px 2px 4px goldenrod;
}

#section {
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid;
    background-image: linear-gradient(whitesmoke, lightgray);
}

#display {
    width: 40%;
}